<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/about_styles.css">
        <link rel="stylesheet" href="/static/header_styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500">
    </head>
<body>

    <div id="header">
        <span>
            <a href="/"><p>Book Recommender</p></a>
            <a href="/about"><p>About</p></a>
        </span>
    </div>

    <div id="content">

        <h2><u>What is this site?</u></h2>
        <p>
            This is an AI-powered book recommender, developed for the BBCS2023 Advanced Course Hackathon.<br/>
            Our Team: Li Run, Rongyi, Sai
        </p>

        <br/>

        <h2><u>User Guide:</u></h2>
        </p>
            Select any of the books stored in our database via the input box provided.<br/>
            The AI will then recommend a list of books that are similar in content to the input book.
        </p>

        <br/>

        <h2><u>W.I.P/Potential Improvements:</u></h2>
        <p>
            <ul>
                <li>More parameters to be considered in recommending books</li>
                <li>Adjustable number of books in output</li>
                <li>Adjusting how similar the user wants the recommended books to be</li>

            </ul>
        </p>
    </div>


</body>
</html>
