<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/templates/header_styles.css">
        <link rel="stylesheet" href="/templates/about_styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500">
    </head>
<body>

    <div id="header">
        <span>
            <a href="/templates/bot.html"><p>Bot</p></a>
            <a href="/templates/about.html"><p>About</p></a>
        </span>
    </div>

    <div id="content">
        <p>This is an AI-powered book recommender, created for the BBCS2023 Advanced Course Hackathon.</p>
        

        <h2><u>User Guide:</u></h2>
        <p>W.I.P.</p>
    </div>

</body>
</html>
