<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bot_styles.css">
        <link rel="stylesheet" href="/static/header_styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500">
    </head>
<body>

    <div id="header">
        <span>
            <a href="/"><p>Book Recommender</p></a>
            <a href="/about"><p>About</p></a>
        </span>
    </div>

    <div id="content">
        <p id="guiding-text">
            Input the title of a book that you have recently read or liked.<br/>
            You can adjust the number of books and how similar the books are as additional filters.
        </p>
        <form id="input-form">
            <input class="input-field" id="input-title" type="text" placeholder="Enter the title of the book.">
            <input class="input-field" id="input-recommendation-size" type="number" placeholder="Enter how many recommendations you want.">
            <div id="div-dropdown">
                <label for="input-accuracy">Choose how similar you want the books to be:</label>
                    <select name="input-accuracy" id="input-accuracy">
                        <option value="similar90">Very Similar (&gt90%)</option>
                        <option value="similar70">Similar (&gt70%)</option>
                        <option value="similar50">Not Similar (&gt50%)</option>
                        <option value="similar0">Completely Different(0-50%)</option>
                    </select>
            </div>

            <div id="div-submit">
                <button id="submit-button" type="submit">
                    <p>Search!</p>
                </button>
            </div>
            
            <!--
            <div id="input-checkboxes">
                <p id="genre-text"><u>List of common genres:</u></p>
                <table id="checkbox-table">
                    <tr>
                        <td>
                            <input type="checkbox" id ="checkbox_fiction" name="fiction">
                            <label for="checkbox_fiction">Fiction</label>
                        </td>
                        <td>
                            <input type="checkbox" id ="checkbox_nonfiction" name="nonfiction">
                            <label for="checkbox_nonfiction">Non-fiction</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id ="checkbox_horror" name="horror">
                            <label for="checkbox_horror">Horror</label>
                        </td>
                        <td>
                            <input type="checkbox" id ="checkbox_romance" name="romance">
                            <label for="Romance">Romance</label>
                        </td>
                    </tr>
                </table>

            </div>
            -->
        </form>

        <div id="div-recommedations">
        </div>
    </div>

    <script src="../static/bot.js"></script>
</body>
</html>
